<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DataTransferSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/DataTransfer.asmx" binding="basicHttpBinding"
                bindingConfiguration="DataTransferSoap" contract="ServiceReference1.DataTransferSoap"
                name="DataTransferSoap" />
        </client>
    </system.serviceModel>
</configuration>